<!DOCTYPE html>
<html lang="en">

<head>
    <title>All Countries</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="/allCountries">All Countries</a>
        <a href="/myRecords">My Records</a>
    </header>
    <main>
        <div class="big-div">
            <% data.forEach(oneCountry=> { %>
                <div class="cards">
                    <h3>
                        <%= oneCountry.country_name %>
                    </h3>
                    <p>
                        <b>Total Confirmed: </b> <%= oneCountry.total_confirmed %>
                    </p>
                    <p>
                        <b>Total Deaths: </b> <%= oneCountry.total_deaths %>
                    </p>
                    <p>
                        <b>Total Recovered: </b> <%= oneCountry.total_recovered %>
                    </p>
                    <p>
                        <b>Date: </b> <%= oneCountry.date %>
                    </p>
                    <div>
                        <form action="/myRecords" method="post">
                            <input type="hidden" name="country_name" value="<%= oneCountry.country_name %>">
                            <input type="hidden" name="total_confirmed" value="<%= oneCountry.total_confirmed %>">
                            <input type="hidden" name="total_deaths" value="<%= oneCountry.total_deaths %>">
                            <input type="hidden" name="total_recovered" value="<%= oneCountry.total_recovered %>">
                            <input type="hidden" name="date" value="<%= oneCountry.date %>">
                            <input type="submit" value="Add to my records">
                        </form>
                    </div>
                </div>
                <% }); %>
        </div>
    </main>
</body>

</html>